.main-chat
  .main-chat__top
    .group-box
      .group-box__group-name 
        = @group.name
      .group-box__member-name 
        - @group.users.each do |user|
          = user.name
    .group-edit
      = link_to 'Edit',edit_group_path(@group),class: 'edit-btn' 
  .main-chat__middle
    = render @messages


  .main-chat__bottom
    = form_for [@group, @message] do |f|
      .main-chat__bottom__inputbox
        = f.text_field :content, class: 'type-box', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'image-icon')
          = f.file_field :image, style: "display:none"
      .main-chat__bottom__sendbox
      = f.submit 'Send', class: 'type-box__send-box'

